body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

.header {
  margin-top: 3.7%;
  background-size: 100% 700px;
  
  width: 100%;
  height: 700px;
  text-decoration-color: whitesmoke;
  z-index: 1;
}

.header-content {
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 600px;          
}

.content {
margin-left: 20%;
margin-right: 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  margin:0;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #79BEEE;
}

.active {
  background-color: #5B618A;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}