body {
  font-size: 28px;
  font-family: Verdana;
  text-align: center;
}

.header {
  margin: auto;
  border-radius: 12px;
  padding: 20px;
  height: 200px;
  width: 1180px;
  margin-bottom: 40px;
  color: white;
  background-image: linear-gradient(to right, darkblue, darkslateblue , darkblue);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.footer {
  margin: auto;
  border-radius: 12px;
  height: 200px;
  width: 1180px;
  margin-top: 40px;
  color: white;
  background-image: linear-gradient(to right, darkblue, darkslateblue , darkblue);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  line-height: 25px;
}

.footer-text {
  padding: 1px;
}

.navbar {
  width: 1210px;
  height: 80px;
  border-radius: 12px;
  margin: auto;
  background-color: darkblue;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 20px;
  margin-bottom: 40px;
  font-family: Trebuchet MS;}

.navbar-name {
  float: left;
  color: white;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: auto;
  margin-top: 28px;
}

.content {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 2px solid white;
  width: 1200px;
  margin: auto;
  border-radius: 12px;
  font-size: 20px;
}

.text-header {
 font-size: 28px;
 color: darkslateblue;
}

.text-header:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%; 
    padding-top: 20px; 
    border-bottom: 4px solid darkblue; 
}

p {
  font-size: 18px;
  color: #707070;
  text-align: left;
  font-family: Trebuchet MS;
}

h8 {
  font-size: 18px;
  display: block;
  font-family: Trebuchet MS;
}

.text-content {
  display: block;
  margin: 15px;
}

section {
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 3px solid grey;
  display: block;
  width: 1100px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.list-items {
  display: inline-block;
}

li {
  float: right;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 13px;
}

li a:hover {
  border-bottom: 3px solid white;
}

.resume {
  width: 800px;
  height: 500px;
  border: 2px solid #000;

}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  border-radius: 2px;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slidesactive {
  display: block;
}

.card {
  width: 200px; 
  height: 200px; 
  border-radius: 5px;
  border: 2px solid darkgrey;
  display: inline-block;
  margin-right: 10px;
}

.card-content {
  align-items: center;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 10px;
}

.project-card {
  width: 300px; 
  height: 250px; 
  border-radius: 5px;
  border: 2px solid darkgrey;
  margin: 10px;
  display: inline-block;
}

